/* korean */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 400;
  src: local('NanumMyeongjo'), url(./font/nm400.woff2) format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 400;
  src: local('NanumMyeongjo'), url(./font/nm400la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* korean */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 700;
  src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'), url(./font/nm700.woff2) format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 700;
  src: local('NanumMyeongjo Bold'), local('NanumMyeongjoBold'), url(./fony/nm700la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* korean */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 800;
  src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'), url(./font/nm800.woff2) format('woff2');
  unicode-range: U+3131-318E, U+3200-321C, U+3260-327B, U+AC00-D7AF;
}
/* latin */
@font-face {
  font-family: 'nm';
  font-style: normal;
  font-weight: 800;
  src: local('NanumMyeongjo ExtraBold'), local('NanumMyeongjoExtraBold'), url(./fony/nm800la.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}