.sizeBox{
	width: 100%;
	height: 100%;
	background-color: rgb(113, 124, 143);
	display: none;
	position: absolute;
	top: 0; left: 0;
	z-index: 100;
}
.size-title{text-align: center; font-size: 2.3rem; padding-top: 20%; color: #fff; text-shadow: 4px 4px 4px #333; letter-spacing: 2px;}

#hd{
    width: 100%;
    height: 70px;
    clear: both;
}
#hd .logo{
    display: block;
    width: 95px;
    height: 65px;
    float: left;
    margin-left: 10px;
}
#hd .logo img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#ck1{
    display: none;
}
.page{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.textBox{
    width: 85%;
    height: 50%;
    margin: 0 auto;
}
#page1{
    margin-top: 50px;
    height: 80%;
}
#page1 a img{
    float: right;
    display: block;
    width: 35px;
    height: auto;
    margin-top: 4px;
    margin-right: 3px;
    margin-left: -3px;
}
#page1 img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#page2{
    margin-top: 50px;
    height: 60%;
}
#page3{
    height: 120%;
}
#page3 .btn{
    margin-bottom: 20px;
}
#page3 .slideWrap{
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin-top: 30px;
}
#page3 label{
    padding: 7px;
}
#page3 .slideWrap .title3{
    font-weight: 700;
    font-size: 0.8em;
}
#page3 .slideWrap .slideBox{
    width: 400%;
    height: 100%;
    transition: 1.1s;
}
#page3 .slideWrap li{
    float: left;
    width: 25%;
    height: 300px;
}
#page3 .slideWrap li img{
    width: 100%;
    height: auto;
}
.ck{
    display: none;
}
.bigBtn{
    width: 80%;
    height: 55px;
    border: 1px solid #ccc;
    line-height: 55px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.2em;
    color: #444;
    margin-bottom: 0;
}
#ckBtn1:checked ~ .textBox .slideBox{
    margin-left: 0;
}
#ckBtn2:checked ~ .textBox .slideBox{
    margin-left: -100%;
}
#ckBtn3:checked ~ .textBox .slideBox{
    margin-left: -200%;
}
#ckBtn4:checked ~ .textBox .slideBox{
    margin-left: -300%;
}

#page4 h5{
    font-style: italic;
    color: #999;
    text-align: center;
}
#page4 .verticalline{
    height: 35px;
    width: 1px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #bbb;
}
#page4 .btn{
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
}
#page4 h4{
    text-align: center;
}
#page4 img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

#page5{

}
#page5 img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px
}
#page5 li{
    width: 100%;
    height: 30%;
    margin-bottom: 30px;
}
#page5 .text{
    margin-top: 15px;
}

#page6 .banner{
    width: 80%;
    height: 150px;
    float: right;
}
#page6 .banner img{
    width: 23%;
    height: auto;
}
#page6{
    height: 40%;
    border-bottom: 1px solid #444;
    margin-bottom: 80px
}
#page6 h4{
    text-align: right;
}
#page6 .line{
    float: right;
}
#page6 h5{
    text-align: right;
    margin-bottom: 40px;
}
#ft{
    height: 90%;
}
#ft h3{
    margin-bottom: 50px;
    color: #555;
    font-weight: 600;
}
#ft li{
    display: block;
    padding: 20px 0;
}
#ft .text{
    line-height: 1.8;
}
#ft .beforeCP{
    margin-bottom: 30px;
}
